.message-wrapper {
    margin-top: 0.5em;
}

.message {
    border: solid #aaa 1px;
    border-radius: 1em;
    padding-left: 0.75em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: fit-content;
    max-width: 75%;
}

.message.incoming {
    float: right;
    border-radius: 1em 1em 0 1em;
    background-color: #3178B1;
    color: #fff;
}

.message.outgoing{
    border-radius: 1em 1em 1em 0;
    background-color: #BB6025;
    color: #fff;
}

.author.incoming {
    text-align: right;
}

.ts {
    font-size: 7pt;
}

.message-body {
    margin: 0;
}

.message-body-inline-media {
    max-width: 100%;
    border-radius: 0.5em;
}