.timestamp {
    color: #999;
    font-size: 8pt;
    padding-left: 0.5em;
}
.thread-name {
    font-size: 12pt;
    color: #000;
}
.thread-last-message {
    color: #000;
}
td {
    border: solid black;
    border-radius: 1em;
    padding: 0.25em;
    margin-bottom: 0.5em;
    min-height: calc(50px + 1em);
}
table {
    border-spacing: 1em;
    width: 100%;
    table-layout: fixed;
}
